/* utilities */

/* color for all header */
header {
  background-color: rgb(136, 197, 136);
}
Footer {
  background-color: rgb(136, 197, 136);
} 

body {
  background-color: rgb(136, 197, 136);
} 

a {
  background-color: rgb(189, 224, 189);
  color: black;
  border: 2px solid green;
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Home page */

.homeimg {
  height: 77vh;
} 

.column {
  float: left;
}

.left, .right {
  width: 25%;
}

body {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px
 
}

.busy{
  text-align: center;
}

.gift {
  margin-top: 30px;
}


.form-group2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

