/* utilities */

/* color for all header */
Header {
  background-color: rgb(191, 195, 221);
  /* padding-top: 20px; */
  padding-bottom: 20px; 
  font-size: 80px;
}
Footer {
  background-color: rgb(191, 195, 221);
 
} 

body {
  background-color: rgb(191, 195, 221);
  /* padding-top:70px; */
  padding-bottom: 70px;
} 

a {
  background-color: rgb(216, 218, 224);
  color: black;
  border: 2px solid rgb(239, 240, 241);
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.row {
  margin:10px 10px;
}

/* Home page */

.homeimg {
  height: 50vh;
  width: 50vh;
  margin-right: 10px;
} 

.row {
  padding-top: 60px;
}
