/* utilities */

/* color for all header */
Header {
  background-color: rgb(191, 195, 221);
  /* padding-top: 20px; */
  padding-bottom: 20px; 
  font-size: 80px;
}

nav {
  padding-bottom: 40px !important;
}


Footer {
  background-color: rgb(191, 195, 221);
 
} 

body {
  background-color: rgb(191, 195, 221);
    padding-bottom: 70px;
} 

a {
  background-color: rgb(216, 218, 224);
  color: black;
  border: 2px solid rgb(239, 240, 241);
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.row {
  margin:10px 10px;
}

/* Home page */

.homeimg {
  height: 50vh;
  width: 50vh;
  margin-right: 10px;
} 

.row {
  padding-top: 60px;
}

.left, .right {
  width: 25%;
}

body {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px
 
}

.busy{
  text-align: center;
}

.gift {
  margin-top: 30px;
}


.form-group2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* comments page */

.textarea {
  background: rgb(216, 218, 224);

}

.comments-img {
  width: 400px;
  height: 400px;
  margin-left: 150px;  
}

.Comment-btn {
  padding-top: 12px;
}

/* login/profile */

.logintext {
  margin-right: 200px;
  margin-left: 200px;
}